/*-- scss:defaults --*/

/* General Styles */
body {
    /*font-family: 'Arial', sans-serif;*/
    /*font-size: 20px;*/
    line-height: normal;
}

/* Encabezados */
h1, h2, h3, h4 {
    color: #2E86C1;
    border-bottom: 2px solid #AED6F1;
    padding-bottom: 5px;
}

h1 {
    color: light;
    font-size: 2.5rem;
}

h2 {
    color: lightblue;
    font-size: 1.75rem;
}

h3 {
    color: lightblue;
    font-size: 1.5rem;
}

h4 {
    color: lightblue;
    font-size: 1.2rem;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #ffffff;
}

table, th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #2E86C1;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Código */
pre, code {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 10px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    color: #343a40;
    border-radius: 5px;
}

/* Índice interactivo */
nav#TOC a {
    text-decoration: none;
    color: #1A5276;
}

nav#TOC a:hover {
    font-weight: bold;
    color: #154360;
}

nav#TOC a.active {
    font-weight: bold;
    color: #1A5276;
}

/* Botones de interacción (opcional) */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2E86C1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn:hover {background-color: #3A98D8}

.btn:active {
    background-color: #3A98D8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.bck_color_01 {
    background-color: rgb(144, 255, 0);
    font-size: 1.1srem;
}


.bck_color_02 {
    background-color: yellow;
    font-size: 1.1srem;
}

.recuadro_1 {
  border: 1px solid;
  padding: 5px; /* Márgenes internos dentro del marco */
  margin-top: 15px; /* Espacio superior entre el marco y el siguiente párrafo */
  margin-bottom: 15px; /* Espacio superior entre el marco y el siguiente párrafo */
}

.recuadro_2 {
  text-align: center;
  border: 1px solid;
  padding: 5px; /* Márgenes internos dentro del marco */
  margin-top: 15px; /* Espacio superior entre el marco y el siguiente párrafo */
  margin-bottom: 15px; /* Espacio superior entre el marco y el siguiente párrafo */
}



